<ion-view view-title="Dashboard" hide-nav-bar="true">
    <ion-header-bar class="bar bar-dark">
	    <h1 class="title" style="text-align: center">
	      <i style="float: right" class="icon ion-search" ng-click="openSearch()"></i>
		    المكتبه الرقميه
	    </h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="true">
		<h5 style="font-weight: bold; color: grey">التصنيفات:</h5>
		<ion-infinite-scroll ng-show="!categories" style="padding-top: 50%" distance="1%"></ion-infinite-scroll>
		<div class="list list-inset">
		    <div class="item" ng-repeat="cat in categories" ng-click="openSearch(cat.category_name)">
			    {{cat.category_name}}
		    </div>			
		</div>
	</ion-content>

</ion-view>
