
<!-- <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">
	<pdf-viewer ng-if="pdfUrl" delegate-handle="my-pdf-container" url="pdfUrl" scale="1" delegate-handle="my-pdf-container" show-toolbar="true"
    headers="{ 'Access-Control-Expose-Headers': 'Accept-Ranges, Content-Encoding, Content-Length, Content-Range',
    'Access-Control-Allow-Headers': 'Range', 'Accept-Ranges': 'bytes' }"></pdf-viewer>
 </ion-scroll>
 -->


<ion-view hide-nav-bar="true">
<ion-content>

<!-- <iframe id="view" ng-src="{{dataDir}}" style="width: 100%; height: 100%"></iframe> -->

</ion-content>
</ion-view>